* {
  font-family: Roboto, Arial, "Time New Roman", sans-serif;
}

title, h4, img[title] {
  font-family: "Shrikhand", "Roboto", Arial, "Time New Roman", sans-serif;
}

h3 {
  font-size: 18px;
}

h4 {
  margin: 10px 0px;
}

a {
  text-decoration: none;
  color: #000000;
}

li {
  list-style-type: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}
.header__logo {
  display: flex;
  width: min-content;
  height: min-content;
}
.header__img {
  width: 150px;
}

.section-nav {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 40px auto;
}
.section-nav h2 {
  margin-bottom: 20px;
}
.section-nav ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.section-nav__link {
  box-shadow: 0px 3px 3px #cecece;
  background-color: #f6f6f6;
  padding: 20px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  text-align: center;
  position: relative;
  transition: all 0.3s ease-in;
}
.section-nav__link--hover:hover {
  background-color: #f5edff;
  opacity: 0.8;
  box-shadow: 0px 3px 3px #00000099;
  transform: scale(1.01);
}
.section-nav__link--hover:hover i {
  color: #9356DC;
}
.section-nav__number-nav {
  position: absolute;
  padding: 3px;
  background: #9356DC;
  width: 25px;
  height: 25px;
  border-radius: 12.5px;
  color: white;
  left: -12.5px;
}
.section-nav__icone {
  margin: 0px 15px 0px 7.5px;
}

.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.block-form {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 40px;
  background-color: #eaeaea;
  box-shadow: 0px 3px 3px #cecece inset;
}
.block-form i {
  position: absolute;
}
.block-form__form {
  display: flex;
  width: 150px;
  align-items: center;
}
.block-form__input {
  width: 100px;
  padding: 5px;
  border: none;
  background-color: #eaeaea;
  margin: auto;
  outline: none;
}

.search-descr {
  width: 100%;
  background-color: #f6f6f6;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 30px;
}
.search-descr__para {
  margin: 20px 0px;
}

.section-cards {
  padding: 40px 0px;
  background-color: #f6f6f6;
}
.section-cards__title {
  width: 90%;
  margin: auto;
  margin-bottom: 20px;
}

.article-cards {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card {
  position: relative;
  border-radius: 20px;
  background-color: white;
  transition: all 0.3s ease-in;
  box-shadow: 0px 3px 3px #cecece;
}
.card__link {
  display: flex;
  flex-direction: column;
}
.card__descr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 32px 10px 10px;
}
.card__img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  -o-object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}
.card--hover:hover {
  opacity: 0.8;
  box-shadow: 0px 3px 3px #00000099;
  transform: scale(1.01);
}

.footer, .footer a {
  background-color: #353535;
  color: white;
}

.footer__block {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  padding: 20px 0px;
}

.footer__icone {
  margin-right: 10px;
  width: 10px;
  font-size: 12px;
}

.block-menu-img {
  display: flex;
}
.block-menu-img__img {
  width: 100%;
  height: 40vh;
  object-fit: cover;
}

.menu {
  padding-top: 20px;
  border-radius: 25px 25px 0px 0px;
  position: relative;
  top: -25px;
  margin-bottom: -25px;
  background-color: #f6f6f6;
}
.menu .block-title {
  margin: 0px auto 20px;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.article-block {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 20px;
}

.list-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card__link {
  border-radius: 15px;
}

.card-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  overflow: hidden;
  position: relative;
  border-radius: 15px;
  height: 50px;
  padding: 8px;
  box-shadow: 0px 3px 3px #cecece;
}
.card-menu h4 {
  margin: 0;
}
.card-menu__descr {
  overflow: hidden;
  white-space: nowrap;
}
.card-menu__descr h4, .card-menu__descr p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.card-menu .display {
  position: absolute;
  right: -40px;
  margin-left: 10px;
  transition: right 1s;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  background-color: #99E2D0;
}
.card-menu .display i {
  transition: transform 1s;
}
.card-menu span {
  transition: margin-right 1s;
}

.menu__link:hover .display {
  right: 0;
}
.menu__link:hover .display i {
  transform: rotate(360deg);
}

.menu__link:hover span {
  margin-right: 40px;
}

.ordered {
  display: flex;
  justify-content: center;
}

.header__button-back {
  display: none;
}

.header__button-back--display {
  display: flex;
  height: 60px;
  align-items: center;
  position: absolute;
  left: 5%;
}

.search-descr__link {
  padding: 15px;
  color: white;
  border-radius: 25px;
  background: linear-gradient(#FF79DA, #9356DC);
  width: fit-content;
  box-shadow: 0px 3px 3px #cecece;
  transition: all 0.3s ease-in;
}
.search-descr__link--hover {
  padding: 15px 25px;
}
.search-descr__link:hover {
  opacity: 0.8;
  box-shadow: 0px 3px 3px #00000099;
  transform: scale(1.01);
}

.block-heart {
  display: flex;
  align-items: center;
}
.block-heart--hover:hover .block-heart__heart-full {
  transform: scale(1);
}
.block-heart__heart-full {
  background: -webkit-linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transform: scale(0);
  transition: transform 1s;
  z-index: 1;
  display: block;
}
.block-heart__heart-empty {
  position: absolute;
  display: block;
}

.card__block-img {
  position: relative;
  display: flex;
}
.card__new {
  position: absolute;
  top: 4%;
  right: 4%;
  background: #99E2D0;
  padding: 4px;
}

.line {
  border: 1px solid #99E2D0;
  width: 40px;
  margin: 5px 0px 10px;
  background: #99E2D0;
}

.display-body {
  position: relative;
  animation: display-body 3s forwards;
}

.block-loader {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
}

.loader {
  font-size: 10rem;
  background: -webkit-linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: transform 3s ease-in-out;
  animation: loader 3s forwards;
  z-index: 1;
}

@keyframes loader {
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(1080deg);
  }
}
@keyframes display-body {
  0% {
    opacity: 0.2;
    z-index: -1;
  }
  99% {
    opacity: 0.2;
    z-index: -1;
  }
  100% {
    opacity: 1;
    z-index: 1;
  }
}
.entree .menu__link {
  opacity: 0;
  margin-top: 10px;
}
.entree .menu__link:nth-child(1) {
  animation: slide 1s 0.2s forwards;
}
.entree .menu__link:nth-child(2) {
  animation: slide 1s 0.4s forwards;
}
.entree .menu__link:nth-child(3) {
  animation: slide 1s 0.6s forwards;
}

.plats .menu__link {
  opacity: 0;
  margin-top: 10px;
}
.plats .menu__link:nth-child(1) {
  animation: slide 1s 0.8s forwards;
}
.plats .menu__link:nth-child(2) {
  animation: slide 1s 1s forwards;
}
.plats .menu__link:nth-child(3) {
  animation: slide 1s 1.2s forwards;
}

.desserts .menu__link {
  opacity: 0;
  margin-top: 10px;
}
.desserts .menu__link:nth-child(1) {
  animation: slide 1s 1.4s forwards;
}
.desserts .menu__link:nth-child(2) {
  animation: slide 1s 1.6s forwards;
}
.desserts .menu__link:nth-child(3) {
  animation: slide 1s 1.8s forwards;
}

@keyframes slide {
  from {
    opacity: 0;
    margin-top: 10px;
  }
  to {
    opacity: 1;
    margin-top: 0px;
  }
}

/*# sourceMappingURL=style.css.map */
