.button-back {
    display: none;
    &--display {
        display: flex;
        height: map-get($height, button-back );
        align-items: center;
        position: absolute;
        left: 5%;
    }
}