.search-descr__link {
    padding: 15px;
    color: white;
    border-radius: 25px;
    background: linear-gradient($pink, $purple);
    @include width-fit;
    box-shadow: 0px 3px 3px $shadow;
    transition: all .3s ease-in;
    &--hover {
        padding: 15px 25px;
    }
    &:hover {
        @include hover;
    }
}