.button {
    color: white;
    border-radius: 25px;
    @include background-gradient;
    @include border-shadow($shadow);
    transition: all .3s ease-in;
    &:hover {
        @include hover;
    }
}
.search-descr__link {
    padding: 15px;
}
.ordered {
    display: flex;
    justify-content: center;
    margin: 10px 0px 40px 0px;
    flex: 1 100%;
    &__button {
        padding: 15px 40px;
    }
}