.section-cards {
    padding: 40px 0px;
    background-color: $grey-light;
    &__title {
        @include width;
        margin: auto;
        margin-bottom: 20px;
    }
}
.article-cards {
    @include width;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    @include mobile-only{
        @include flex-colomn;
    }
}
.card {
    position: relative;
    width: inherit;
    flex: 1 40%;
    border-radius: 20px;
    background-color: white;
    transition: all .3s ease-in;
    @include border-shadow($shadow);
    @include mobile-only{
        width: 100%;
        flex: auto
    }
    &__link {
        @include flex-colomn;
    }
    &__descr {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 32px 10px 10px;
        @include mobile-only {
            padding: 10px 20px 10px 10px;
        }
    }
    &__img {
        width: 100%;
        height: map-get($height, card-img);
        object-fit: cover;
        -o-object-fit: cover;
        border-radius: 20px 20px 0px 0px;
        @include mobile-only{
            height: map-get($height-mobile, card-img);
        }
    }
}