.block-heart{
        display: flex;
        align-items: center;
        &--hover{
            &:hover .block-heart__heart-full {
                transform:scale(1);
            }
        }
        &__heart-full {
            background:-webkit-linear-gradient($pink, $purple);
            background-clip:text;
            -webkit-background-clip:text;
            color:transparent;
            transform:scale(0);
            transition: transform 1s ;
            z-index: 1;
            display: block;
            font-size: 1.5rem;
            @include mobile-only {
                font-size: 1rem;
            }
        }
        &__heart-empty {
            position: absolute;
            display: block;
            font-size: 1.5rem;
            @include mobile-only {
                font-size: 1rem;
            }
        }
}
    
    