.card {
    &__block-img {
        position: relative;
        display: flex;
    }
    &__new {
        position: absolute;
        top: 15px;
        right: 15px;
        background: $green;
        padding: 4px;
    }
}