.card {
    &__block-img {
        position: relative;
        display: flex;
    }
    &__new {
        position: absolute;
        top: 4%;
        right: 4%;
        background: $green;
        padding: 4px;
    }
}