* {
    font-family: Roboto, Arial, 'Time New Roman', sans-serif;
}
.title, .footer h4, .header__img {
    font-family: "Shrikhand", "Roboto", Arial, 'Time New Roman', sans-serif;
}
h3 {
    font-size: 18px;
}
