* {
    font-family: Roboto, Arial, 'Time New Roman', sans-serif;
}
title, h4, img[title] {
    font-family: "Shrikhand", "Roboto", Arial, 'Time New Roman', sans-serif;
}
h3 {
    font-size: 18px;
}
h4 {
    margin: 10px 0px;
}
a {
    text-decoration: none;
    color: #000000;
}
li {
    list-style-type: none;
}