$breakpoints: (
    mobile: 991px
);

$height: (
    loader: 100vh,
    nav-num: 25px,
    button-back: inherit,
    card-img: 250px,
    card-menu: 56px,
    header: 60px, 
    menu-img: 600px
);


$height-mobile: (
    card-img: 28vh,
    menu-img: 40vh
)