$breakpoints: (
    desktop: 992px
);

$height: (
    loader: 100vh,
    nav-num: 25px,
    button-back: inherit,
    card-img: 28vh,
    menu-img: 40vh,
    header: 60px,
    card-menu: 56px
    );
    
    
    $height-desktop: (
        menu-img: 600px,
        card-img: 250px
);