@mixin border-shadow($colors) {
    box-shadow: 0px 3px 3px $colors ;
}
@mixin flex-colomn {
    display: flex;
    flex-direction: column;
}
@mixin hover {
    opacity: .8;
    box-shadow: 0px 3px 3px #00000099;
    transform: scale(1.01);
}