.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: map-get($height, header);
    &__logo {
        display: flex;
    }
    &__img {
        width: 150px;
    }
}
