.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: map-get($height, header);
    width: 100%;
    max-width: 1500px;
    position: relative;
    margin: auto;
    &__logo {
        display: flex;
    }
    &__img {
        width: 150px;
    }
}
