.section-nav {
    width: 90%;
    margin: auto;
    @include flex-colomn;
    justify-content: center;
    margin: 40px auto;
    ul {
        @include flex-colomn;
        gap: 15px;
    }
    &__link {
        @include border-shadow($shadow);
        background-color: $grey-light;
        padding: 20px;
        border-radius: 15px;
        display: flex;
        align-items: center;
        text-align: center;
        position: relative;
        &--hover:hover {
            background-color: #f5edff;
            @include hover;
            i {
                color: $purple;
            }
        }
    }
    &__number-nav {
        position: absolute;
        padding: 3px;
        background: $purple;
        width: 25px;
        height: 25px;
        border-radius: 12.5px;
        color: white;
        left: -12.5px;
    }
    &__icone {
        margin: 0px 15px 0px 7.5px;
    }
}
h2 {
    margin-bottom: 20px;
}