.section-nav {
    @include width;
    @include flex-colomn;
    align-items: center;
    justify-content: center;
    margin: 40px auto;
    @include mobile-only {
        align-items: inherit;
        
    }
    h2 {
        margin-bottom: 20px;
    }
    nav {
        width: inherit;
        @include mobile-only {
            width: auto;
        }
    }
    ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 26px;
        @include mobile-only {
            @include flex-colomn;
            gap: 15px;
        }
    }
    &__link {
        @include border-shadow($shadow);
        background-color: $grey-light;
        padding: 20px;
        border-radius: 15px;
        display: flex;
        align-items: center;
        text-align: center;
        position: relative;
        transition: all .3s ease-in;
        &--hover:hover {
            background-color: #f5edff;
            @include hover;
            i {
                color: $purple;
            }
        }
    }
    &__number-nav {
        position: absolute;
        padding: 3px;
        background: $purple;
        width: 25px;
        height: map-get($height, nav-num);
        border-radius: 12.5px;
        color: white;
        left: -12.5px;
    }
    &__icone {
        margin: 0px 15px 0px 7.5px;
    }
}