.search {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: #eaeaea;
    box-shadow: 0px 3px 3px #cecece inset;
    &__block-form {
        display: flex;
        width: 150px;
        i {
            position: absolute;
        }
        &__form{
            margin: auto;
            &__input{
                width: 100px;
                border: none;
                background-color: #eaeaea;
                text-align: center;
            }
        }
    }
}